@tailwind base;
@tailwind components;
@tailwind utilities;

/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1rem;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


.chat-message h1 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.chat-message h2 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.45rem;
  margin-top: 0.45rem;
}

.chat-message h3 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.chat-message h4 {
  font-size: 0.75rem;
  font-weight: 450;
  line-height: 1.2;
  margin-bottom: 0.35rem;
  margin-top: 0.35rem;
}

.chat-message h5 {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.chat-message h6 {
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.chat-message a {
  color: #db3e3e;
  text-decoration: none;
}


::-webkit-scrollbar {
    height: 1rem;
    width: .5rem
}

::-webkit-scrollbar:horizontal {
    height: .5rem;
    width: 1rem
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px
}

::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: hsla(0,0%,89%,.8);
    border-color: rgba(255,255,255,var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(227,227,227,var(--tw-bg-opacity))
}

.dark ::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.1)
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,100%,.3)
}
